{% extends "layout.html" %}

{% block body %}
<div class="nav-bar">&nbsp;</div>
<div class="grid">
  <div class="page">
    <div class="row">
      <!-- 使用jade引擎的项目列表-->
      <div class="span6">
        <h2>
          <i class="icon-html5"></i>
          模版引擎项目
          <a href="http://paularmstrong.github.com/swig/docs/" target="_blank">文档</a>
        </h2>
        <ul class="listview image">
          {% for pj in projects %}
          <li data-link="{{pf}}/{{pj}}">
            <div class="icon"><img src="{{sf}}/{{pj}}/logo.png"></div>
            <div class="data">
              <h4>{{pj}}</h4>
              <p data-from="{{sf}}/{{pj}}" class="intro"></p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- 静态文件导入的项目列表-->
      <div class="span6 offset1">
        <h2><i class="icon-earth"> </i>静态项目</h2>
        <ul class="listview image">
          {% for s in sites %}
          <li data-link="http://{{HOST}}:{{s.port}}">
            <div class="icon"><img src="/{{sd}}/{{s.name}}/logo.png"></div>
            <div class="data">
              <h4>{{s.name}}</h4>
              <p data-from="/{{sd}}/{{s.name}}" class="intro"></p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="codeshare">
      代码分享: 
      <a href="http://jsfiddle.net/user/linyupark/fiddles/">linyu</a>
    </div>
  </div>
</div>

<div class="page-sidebar">
  <strong>基础</strong>
  <ul>
    <li><a href="http://www.w3schools.com/jsref/default.asp">JavaScript</a></li>
    <li><a href="http://www.w3schools.com/cssref/default.asp">CSS</a></li>
    <li><a href="http://www.w3schools.com/tags/default.asp">HTML</a></li>
    <li><a href="http://html5doctor.com/">HTML5</a></li>
    <li><a href="http://code.jquery.com/">jQuery CDN</a></li>
  </ul>
  <strong>工具</strong>
  <ul>
    <li><a href="http://jsfiddle.net/">jsfiddle</a></li>
    <li><a href="http://lorempixel.com/">lorempixel</a></li>
    <li><a href="http://www.punypng.com/">Punypng</a></li>
    <li><a href="http://cn.spritegen.website-performance.org/">spriteCSS</a></li>
  </ul>
  <strong>界面</strong>
  <ul>
    <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
    <li><a href="http://metroui.org.ua">Metro</a></li>
    <li><a href="http://foundation.zurb.com/">Foundation 3</a></li>
  </ul>
  <strong>规范</strong>
  <ul>
    <li><a href="http://aliceui.com/">Alice</a></li>
  </ul>
  <strong>进阶</strong>
  <ul>
    <li><a href="http://modernizr.com/">Modernizr</a></li>
    <li><a href="http://www.lesscss.net/">Less</a></li>
    <li><a href="http://seajs.org/docs/">SeaJS</a></li>
    <li><a href="http://nodejs.org/api/">node.js</a></li>
    <li><a href="http://expressjs.com/api.html">express</a></li>
    <li><a href="http://coffeescript.org/">coffeescript</a></li>
  </ul>
</div>

<script type="text/javascript">
  $('.listview li').on('click', function(){
    location.href = $(this).data('link');
  })
  $('.listview .intro').each(function(){
    $(this).load($(this).data('from')+'/intro.html');
  })
  $('.page-sidebar a, .codeshare a').attr('target', '_blank');
</script>
{% endblock %}